

@use '../custom'as*;





// .heading-line::after{
//     content: "";
//     height: 0.5rem;
//     width: 4.5rem;
//     display: block;
//     background: $secondary;
//     margin: 0 auto;
// }
// .heading-line::before{
//     content: "";
//     height: 0.5rem;
//     width: 12.5rem;
//     display: block;
//     background: $primary;
//     margin-top: 1.5rem;
//     margin: 0 auto;
   
// }


.heading-line1::before{
    content: "---";
    color: blue;



  

}
.heading-line1::after{
    content: "---";
    color: blue;
    margin-left: -1.1rem;
   
 


    

}
.heading-in{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}


a{
    text-decoration: none;
    color: black;
}


// mobile devuces

@include media-breakpoint-down(sm){
    .heading-line1::after{
        content: "---";
        color: blue;
        margin-left: -0.5rem;
       
     
    
    
        
    
    }
  
}


@include media-breakpoint-down(sm){
   
  
}


@include media-breakpoint-down(sm){
   
  
}
