@use '../custom'as*;
@use '../components/mixin'as*;

.get-started{
    background-color: white;
    padding: 1.2rem 0;

    .gradient{
        @include gradient;
        
        
    }
    .gauranteed{
        display: inline-block;
        position: relative;
        // left: 1.2rem;
      
        
    }
}
.image{
    height: 50%;
    width: 25%;
    position:relative ;
    padding: 0 0 0 0;
    
    border-radius: 50%;
    
}
.para{
    position: absolute;
    display: inline;
    margin-left: 1.5rem;
    margin-top: 3.5rem;
}
.para2{
    margin-top: 2.5rem;
}


@include media-breakpoint-down(sm){
       .get-started{
           position: relative;
          top: -2.5rem;
       }
      
}



@include media-breakpoint-down(sm){
  .about{
      position: relative;
      top: -1.5rem;
  }
      
}



@include media-breakpoint-down(sm){
      .para{
          margin-top: -.06rem;
      } 
      
}



@include media-breakpoint-down(sm){
       
      
}



@include media-breakpoint-down(sm){
       .Footer{
           position: relative;
           
           padding: -3.5rem;
           top: -3.5rem;
           height: 30px;
       }
      .icon{
          position: relative;
          top: 1.2rem;
      }
}
