@use '../custom'as*;

html{
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: 'Poppins', sans-serif;
// }
// body{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   min-height: 100vh;
//   background: #343F4F;
// }
.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: white;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
  
 
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: static;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: $primary;
  border-left: 2px solid $primary;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}


// mobile screen devices


@include media-breakpoint-down(sm){
  .wrapper .static-txt{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-top: -1.9rem;
  }
}

@include media-breakpoint-down(sm){
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    margin-top: -2.8rem;
  }

}



@include media-breakpoint-down(sm){
  .dynamic-txts li{
    list-style: none;
    color: white;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
    font-family: 'Times New Roman', Times, serif;
   
  }
  
  
}



@include media-breakpoint-down(sm){
  .dynamic-txts li span{
    position: static;
    margin: 5px 0;
    line-height: 90px;
  }
  
}


@include media-breakpoint-down(sm){
   .image1{
     position: relative;
     top: -5.5rem;
   }
  
}




@include media-breakpoint-down(sm){
   
  
}


@include media-breakpoint-down(sm){
   
  
}


@include media-breakpoint-down(sm){
   
  
}